*{
    color: limegreen;
    background-color: white;
}
h1{
    font-family: 'The Led Display St';
    text-align: Left;
    font-size: 44px;
}
.case-numbers{
    font-family:"DS Crystal";
    line-height: 20px;
    font-size: 22px;
    letter-spacing: 1px;
}
#global-case-container{
    width: 48%;
    float: left;

}
#us-case-container{
    width: 48%;
    float: right;
}
span{
    color: red;
    font-family:  "Conman Regular";
    font-size: 22px;
    letter-spacing: 2px;
}

h2{
    font-family:"DS Crystal";
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}
/* .us-container{
    position: static;
    height:30vh;
    width:49%;     
    float: left;
    clear: both;
    border: none;
}
.state-container{
    position: static;
    height:30vh;
    width:49%;
    float: right;
}
.texas-container{
    position: relative;
    margin-top: 300px;
    height:40vh;
    width:50vw;
    float: left;
    clear: both;
} */
